<h1 class="text-5xl text-purple-700 text-center my-8">Update course</h1>
{{!--Edit bootstrap--}}
<div>
    <form action="/courses/{{course._id}}?_method=PUT" method="POST" id="form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">CourseName</label>
            <textarea type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">{{course.name}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CourseDescriptions</label>
            <textarea type="text" name="description" class="form-control" id="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Image</label>
            <textarea type="text" name="image" class="form-control" id="image">{{course.image}}</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Level</label>
            <textarea type="text" name="level" class="form-control" id="level">{{course.level}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>