
<h1 class="text-5xl text-purple-700 text-center my-8">Khóa học đã chọn</h1>

<div class="mt-4">
   <div class="row">
      <div class="col-sm-6 col-lg-4">
         <div class="card" style="width: 18rem;">
            <a  href="/courses/{{course.slug}}">
               <img src="{{course.image}}" class="card-img-top" alt="{{course.name}}">
            </a>
            <div class="card-body">
               <a href="/courses/{{course.slug}}">
                  <h5 class="card-title">{{course.name}}</h5>
               </a>
               <p class="card-text">{{course.description}}</p>
               <p> <span>Level : </span> <span class="card-text">{{course.level}}</span></p>
               <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
         </div>
      </div>
   </div>
</div>

