
<table class="table mt-2">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Level</th>
			<th scope="col">Create Date</th>
			
		</tr>
	</thead>
	<tbody>
		{{#each course}}
		<tr>
			<th scope="row">{{sum @index 1}}</th>
			<td>{{this.name}}</td>
			<td>{{this.description}}</td>
			<td>{{this.level}}</td>
			<td>{{this.createdAt}}</td>
			<td>
				<a href="/courses/{{this._id}}/edit" class="btn ">Update</a>
				<a href="/courses/{{this._id}}/edit" class="btn ">Update</a>
				</td>
		</tr>
		{{/each}}
	</tbody>
</table>